@charset "UTF-8";

body {
	background-color: silver;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 16px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin: auto;
	border: #778886 2px solid;
	border-collapse: separate;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table tr th {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 11px 15px 12px 15px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table tr td {
	padding-left: 23%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
		to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr td.letter {
	padding-left: 17%;
}